/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*defaut css*/
body {
  font-family: 'Trebuchet MS', sans-serif;
}

/*utility*/
.container {
  margin: 50px auto;
  max-width: 1200px;
}

.debug {
  border: 1px dashed red;
}


/*blog section*/
.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3);
  padding: 10px;
}

.card-content {
  border: 1px solid #000;
  border-radius: 10px;
}

.card-img {
  height: 40%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}

.card-text {
  height: 60%;
  margin: 10px;
}

.card-trash {
  margin-top: 10px;
}

.trash {
  text-align: center;
  background-color: red;
  padding: 10px;
  color: #fff;
  border-radius: 10px;

  &:hover {
    background-color: rgb(181, 0, 0);
  }
}